---
- name: Discover dotfiles
  ansible.builtin.find:
    paths: "{{ role_path }}/files"
    file_type: file
    patterns:
      - ".*"
  register: control_node_dotfiles

- name: Copy dotfiles to control node user home
  ansible.builtin.copy:
    src: "{{ item.path }}"
    dest: "{{ ansible_user_dir }}/{{ item.path | basename }}"
    mode: "0644"
  loop: "{{ control_node_dotfiles.files }}"
  loop_control:
    label: "{{ item.path | basename }}"
  become: true
