---
- name: Discover dotfiles
  ansible.builtin.find:
    paths: "{{ role_path }}/files"
    file_type: file
    patterns:
      - ".??*"  # ignore . and ..
  register: control_node_dotfiles

- name: Fail when no dotfiles found
  ansible.builtin.fail:
    msg: "No dotfiles found in {{ role_path }}/files"
  when: control_node_dotfiles.files | length == 0

- name: Copy dotfiles to control node user home
  ansible.builtin.copy:
    src: "{{ item.path }}"
    dest: "{{ ansible_env.HOME | default('/root') }}/{{ item.path | basename }}"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: preserve
  loop: "{{ control_node_dotfiles.files }}"
  loop_control:
    label: "{{ item.path | basename }}"
  become: true
