BBBBBBBBBBBBBB%BBBBBB%B%BBBBBBBBBBBBBBBBBBBBBB%BBBBBB%B%BBBBBBBBBBBBBBBBBBBBBB%BBBBBB%B%BBBBBBBBBBBBBBBBBBBBBB%BBBBBB
BB%BBB%BBBBBBB%BBBBBBBBBBBBBB%BBBB%BBB%BBBBBBB%BBBBBBBBBBBBBB%BBBB%BBB%BBBBBBB%BBBBBBBBBBBBBB%BBBB%BBB%BBBBBBB%BBBBBB
%BBBBBBB%BBBBBBBBBBBBB%BBBBBBBBB%BBBBBBB%BBBBBBBBBBBaba&%B@$@8*oW%BBBBBB%BBBBBBBBBBBBB%BBBBBBBBB%BBBBBBB%BBBBBBBBBBBB
BBBBBBBBBBBBBBB%BBBBBBBB%BBBB%BBBBBBBBBBBBBBBBB%BBBBh]            I0@@o#%BBBBBB%BBBBBBBB%BBBB%BBBBBBBBBBBBBBBBB%BBBBB
B%BBBBBBBBBBBBBBBBBBBBBBB%%BBBBBB%BBBBBBBBBBBBBBBBBBh]                   L@MM%BBBBBBBBBBB%%BBBBBB%BBBBBBBBBBBBBBBBBBB
B%BBB%%BBBBBBBBBBBBBB%%BBBBBBBBBB%BBB%%BBBBBBBBBBBBBh[                       _@MWBBBB%%BBBBBBBBBB%BBB%%BBBBBBBBBBBBBB
BBBBBBBBBB%BBBBBBBB%BBBBBBBBBBBBBBBBBBBBBB%BBBBBBBBBh[                           d@#%BBBBBBBBBBBBBBBBBBBBB%BBBBBBBB%B
BBB%BBBBBBBBBBBBBBBBBBBBBBBBB%BBBBB%BBBBBBBBBBBBWa#8@@]                              b%WBBBBBB%BBBBB%BBBBBBBBBBBBBBBBB
BB%BBBBBB%B%BBBBBBBBBBBBBBBBBBBBBB%BBBBBB%B%BB%$      BBBM                            "$hBBBBBBBBB%BBBBBB%B%BBBBBBBBB
BBBBBB%BBBBBBBBBBBBBB%%BBBBBBBB%B%M&%8%BBBBBBB%$      @@$$                               &*BBBB%BBBBBB%BBBBBBBBBBBBBB
BBB%BBBBBBBBB%B%BBBBBBBBBBBBBB8*@].  @MBBBBBB%8@     "$@$@.            x                   &o%BBBBB%BBBBBBBBB%B%BBBBB
BB%B%BBBBBBBBBBBBBBBBBBBBBB8&B.       WaBBBB%&hB     ,$$$@.          .@$$$@,                 @aBBB%B%BBBBBBBBBBBBBBBB
BBBBBBBBBB%B%BBBBBBBBBBBB%#1           JM@%r`        ,$$$$8O~       "$@@$@@$@B'               ,@&BBBBBBBBB%B%BBBBBBBB
%BBBBBBBBBBBBBBBBBBBBBB%B%om                         ,$@$@@$$@@$@@ha$$$$$$@$$@                  *aBBBBBBBBBBBBBBBBBBB
BBBB%BBBBBBBBBBBBBB%B%BBBB%aZ                        ^$$$@$$$$$$$@$$@$@$$$$$@                    !B%%BBBBBBBBBBBBBB%B
BBBBBBBBBBBB%BBBBBBBBBBBBBBBhZ                       '$$@$$@@@$$$$$$@@$$$@@$`                      @8BBBBBBB%BBBBBBBB
BBBBBB%BBBBBBBB%BB%BBBBBBBB8Bt                 :YWB@@]   "f&$@$$$$$@$$@$@$$$?                       @M%BBBBBBBB%BB%BB
BBBBBBBBBBBBBBBB&$BB*BBBB%8m              `&$$@$@$$$$]         "8$$$@$$@$$$$$@.                     .@MBBBBBBBBBBBBBB
BBBBBBBBBBBBB%%a8    c@aWb             .B@@$$@$@$$$$$]             #@$$$@@@$$@$B       .t.            @&BBBBB%BBBBBBB
BBBB%BBBBBBBBBaw                     ^@$$$$$$$$@$$@@$]               J@$$$$$$$$@$h }B$@$$@;            $8BBBBBBBBBBBB
BBBBBB%BBBBBBa0                     B$@$@@$$$$$@$$$$$]                 B@@$$$$$@$$$$$@$$$@$~           `BBBBBBBBBBBBB
B%B%BB%BBBBBob                    "@$$@$$@@$@@$$@@$@$]                  O@@$@@$$@@$@$$$@@$$$_           vhBBB%BBB%B%B
BBBBBBBBBBB%$                    ;@$$$@$$$@$$@@@$$$$@]                   C@$$@@@$$$$@@$@$@$@B           .@&BBBBBBBBBB
BBBBBBBBBBBB8M@!                 @@$@$$@$@$$$@$$@@$@@]                    8$$@$$@@$@@$$@$&'              IW%BBBB%BBBB
BBB%BBB%BBBB%BB%o$,             m@$@$$$@$$@$@$$$$$@$$]                    '$@$$$$$@$$$@1                  8&%BBBBB%BB
BB%BBBBBBBBBBBBBB@              $$@$$$$$@$@$$$$$$@$@$]                     $$$$$$@$@$$$B                  <#BBBBBBBBB
BBBBB%BBB%BBBBBBW%              $$$$$@$$$@$$$$$@$$$$@]                     $$$$@$$$$@$$$                   $%BBBBBBBB
BBB%BBB%BBBBBBB%W`              @$$@@$$@$$$$$$$@$$@@$]                     $$$$@$$@@$$$@M                  oMBB%BBBBB
B%BBBBBBB%&M*aah@               o@$$$$@$$@$$@$$$$$$$$]                    '@@$$$$$$$$$$$$.                 }kBBBBBBBB
BBBBBBBBM_                      .$$$$@$$$$@$$$$$@@$$@]                    k$$$$$@@$$@$@$$@f1[[[[?          IW%BB%BBB%
B%BBBBBBW                        r$$@$$$$@$@$$@$@$$$$]                   l@@$$@$@$$$$$$$@$$@$$$$B          .W%BBBBBBB
BBBB%BBB8                         @$@@$$@$@$@$$$$$$$$]                   $@$@$$$$$$$$$$$$$$$@$@@$           WBBBBBBBB
BBBBBBB%&                         l@$$@$$$@@$$@$$@@$$]                  |$@@$$@$$@@$$@$@@@$$$@$$@           BB%BBBBBB
BB%BBB%BW.                         $$$@$$$$$$$@$$$$$$]                  8$$$$$@$$$$$$@$@$$$@$@$@@           W%%BBBBBB
%BBBBBBBWl                         @$@$$@$$@$$$$$$@$$]                  %$$@$$$$$$@$$$@$$@o**oadj          ^W%BBBBBBB
BBBBBBBBBW*aaoMM@                 %@$$@*+_b$$$$@$$$$@]          :mwI     $@$$$$@$$$$@$@@@'                 <#BB%BBBBB
B%BBBBBBBBBBBBBB&'               @$$@@        la@$$@$]     "p@$$$@$$@`    $@@$$@@$$@$$$$#                  zaBBBBBBBB
B%BBB%%BBBBBBBBBW@              [@@$@@            >@$]  \$$$$@@$$@@$@.    z$$$$$$$@@$@@@                   B8BBBBBBBB
BBBBBBBBBB%BBBBB%&^              h@$@$u         'a$@$]    d$@@$@@$$@L    .@$@$$$@@$@$$$&                  .%%BBBBBB%B
BBB%BBBBBBBBBB%BW&#               B@$$$B   !Z@$$$$$$@+        im@@@"     @$$$$$$$$$$$$$^                  qoBBBBBBBBB
BB%BBBBBB%B%%#Bo                  `$$$$$$@$@@$$$$$$% L@I                U@$@@$$$$$$$$$$$@}                @%BBBBBBBBB
BBBBBB%BBBB%@                      o@$@@$$$$$$@$$$@  +@@                @$$$$$@$$$$$$@@@$$$$l            d*BBBBBBBBBB
BBB%BBBBBBBBhO                      -@@$@@$8$@$@$$a h,i@r       .     ($@$$@$@$@$$$$$@$@$@$$t           "%BBB%B%BBBBB
BB%B%BBBBBBBB*t                            @$@@$$$@@$I          @$@$@@$$$$$$$@@$$$$$$@$$$@$j            $%BBBBBBBBBBB
BBBBBBBBBB%B%B*v                          }$@$$@$$@$@l          I$$$@$@@$@@$@$$@$W 0@@$$$@{            **B%B%BBBBBBBB
%BBBBBBBBBBBBBBaa     d@8Z                B$$$$@$@$$$;           @$$$$$$$$@$$$$@      +@$,            Lo%BBBBBBBBBBBB
BBBB%BBBBBBBBBBB#@>@&&%BB8Bj              @$$M$$$XJ@@,   O   `   W$$@$@$$$$$$$'                      va%BBBBBBBBBBB%B
BBBBBBBBBBBB%BBBBBB%BBBBBB%&@"           >@$@ $$$ }@$,  .M   M   %$$@@$$$@@$u                       LoBBBBBB%BBBBBBBB
BBBBBB%BBBBBBBB%BB%BBBBBBBB%oM                       .$$$@$$$$$$$$$@$$@$@$$$.                      MhB%BBBBBBBB%BB%BB
BBBBBBBBBBBBBBBBBBBBBBBBBBBak                        .$$$$@@$$@@$$$$@$$@$$$$$`                    @MBBBBBBBBBBBBBBBBB
BBBBBBBBBBBBB%BBBBBBBBBBBBaw                         '$$$$$$@$@$$@W*$$$$@@@$$@^                 ]%%BBBBBBBBBB%BBBBBBB
BBBB%BBBBBBBBBBBBBBBBB%BBBB:           o%$*}.        '@$$@%wi       }$@$$$$$$@I                @oBBB%BBBBBBBBBBBBBBBB
BBBBBB%BBBBBBBBBBBBBBBBBBBB&Bo.       #hBB%%BWa@     '$$$@.          ,@$@@@c                 O&BBBBBBB%BBBBBBBBBBBBBB
B%B%BB%BBBBBB%BBB%B%BBBB%BBBBBM%W .  %oBBBBBB%%$     '$@@@             M^.                 |@8%BB%B%BB%BBBBBB%BBB%B%B
BBBBBBBBBBBBBBBBBBBBBBB%BBBB%BBB%8a$@MBBBBBBBB%@     '$@$@                               \@&%BBBBBBBBBBBBBBBBBBBBBBBB
BBBBBBBBBBBBBBBB%BBBBBBBBBBBBBBBBBBBBBBBBBBBBB%$      $@$$                            .h%8BBBBBBBBBBBBBBBBBBBBBB%BBBB
BBB%BBB%BBBB%BBBBB%BBB%BBB%BBBB%BBB%BBB%BBBB%BBM&@@@&]                              -$aBBB%BBBB%BBB%BBB%BBBB%BBBBB%BB
BB%BBBBBBBBBBBBBBBBBBBBBBBB%BBBBBB%BBBBBBBBBBBBBBBBBh}                           1@a8BBBBBB%BBBBBB%BBBBBBBBBBBBBBBBBB
BBBBB%BBB%BBBBBBBBBBBBBBBBBBB%BBBBBBB%BBB%BBBBBBBBBBh}                       'W@*%BBBBBBBBBBB%BBBBBBB%BBB%BBBBBBBBBBB
BBB%BBB%BBBBBBB%BBBBBBB%B%BBB%BBBBB%BBB%BBBBBBB%BBBBh]                   ]%@a%B%BBBBBBB%B%BBB%BBBBB%BBB%BBBBBBB%BBBBB
B%BBBBBBBBBB%BBBBBBBBBBBBBBBBBB%B%BBBBBBBBBB%BBBBBBBh]             <k$%a&%BB%BBBBBBBBBBBBBBBBBB%B%BBBBBBBBBB%BBBBBBBB
BBBBBBBBBBBBBBBB%BBB%BBBBBBBBBBBBBBBBBBBBBBBBBBB%BBBaaddk*%B@$%*aW%BBBBBBBBBBBBB%BBB%BBBBBBBBBBBBBBBBBBBBBBBBBBB%BBB%
B%BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB%BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB%BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB%BBBBBBBBBBBBBBBBBBB
BBBB%BBBBBBBBBBBBBBBBBBBBBBBBB%BBBBB%BBBBBBBBBBBBBBBBBBBBBBBBB%BBBBB%BBBBBBBBBBBBBBBBBBBBBBBBB%BBBBB%BBBBBBBBBBBBBBBB

         ~~  A D E P T U S   M E C H A N I C U S  ~~

         {{ common_motd_greeting }}

         Host : {{ ansible_hostname }}
         OS   : {{ ansible_distribution }} {{ ansible_distribution_version }}

         {{ common_motd_footer }}
