ooooMoooooooMoooooMoooMooooooMooooooMoooooooMoooooM
ooooMMooMooooooMooooooo      MhoooooMMooMooooooMooo
oooooooMooMooooMoooooMo           MaoooMooMooooMooo
oMMooooooMoooooooooobt               ooooMooooooooo
MooooMMooMooooW aooob  bW              IoMoooMooooo
ooMooooooMob     Wb.   hWWr   MWWM       MoooooMooo
ooMoMoooooooo          bWMMWWMWMMr         oooooooo
ooooooohaooa       dWWW    aMMWWMM          koooMoo
oooMooM         jWWWWWW       MWWWMpIWW      aooooo
oooMoa         WWWWWWMM         MWWWWWMM.     ooooo
Moooood.      MMWWWWWMW         cWWMWWC       Moooo
oooMoooW      MWWWWWWMW          WMWMW,       .Mooo
oMookdd       WMWWMWMWW         ,WWWMWM        ooMo
oMoa           MWMWWWWW         MMWWWWWWWW     hooo
oooa           WWMWMWMW        fWMWWMWMWWW     hooo
oooMdhM        WWmoWWWW     F   WWWWMMW        aooM
oooooooM      WMw     W !MWWWW  dWWMWW.        oooo
oMoooMhm       WMWWWWWWW        WWWWMW        MoooM
oooooM          WWWWWM  h      WWWMWWWWW,     ooMoo
ooMoooM           tMWWM     MWWWMWWkQMM.     booooo
oooooooddooh      WWWiW     mWMWWM          hoooooo
oooooMooooooM          dMWWWWWWWWr         booMoooo
ooMooooooooo     WC    dWMj   WWWM       cooooooMMM
oooMooMooooMohh ooood  dW               kooMooMMooo
Moooooooooooooooooook   .            naoooooooooooo
oooooooooMoMooooooooMoo           QkoooooMoMooooooo
ooMoooMooooMooooMoooooo      zMaooMoooMooooMooooMoo
ooooooooooooMooooooooMoooooMooooooooooooooooMoooooo

~~  A D E P T U S   M E C H A N I C U S  ~~

{{ common_motd_greeting }}

Host : {{ ansible_hostname }}
OS   : {{ ansible_distribution | default('Unknown') }} {{ ansible_distribution_version | default('') }}

{{ common_motd_footer }}
