---
- name: Install Docker using geerlingguy.docker role
  ansible.builtin.include_role:
    name: geerlingguy.docker
  tags:
    - docker_install

- name: Enable Docker Proxy for n8n
  ansible.builtin.command: docker_proxy
  tags:
    - n8n_docker_proxy
  become: true
  changed_when: false
  when: mikrus_n8n_enable_docker_proxy | bool
